@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .tile {
        @apply w-[40px] h-[40px] text-center text-[32px] outline-none bg-gray-300 border-2 border-black ml-[-1px] mt-[-1px];
    }

    .taken {
        @apply bg-gray-400 text-gray-900;
    }

    .board {
        @apply grid grid-cols-9 gap-2 p-5;
    }

    .interface {
        @apply  flex items-center justify-center flex-col;
    }

    .info-interface .input {
        @apply  text-center text-[24px] outline-none bg-gray-300 border-2 border-gray-900 mb-5;
    }

    .action-interface {
        @apply w-full flex items-center justify-around gap-2 flex-wrap;
    }

    .btn {
        @apply bg-purple-600  py-2 px-6 border-2 border-gray-900 rounded text-white text-[18px] transition-transform duration-100 ease-in-out;
    }

    .btn:hover {
        @apply transform scale-105 bg-purple-950 ;
    }

    .taken {
        @apply bg-gray-400 text-gray-900;
    }

    .initial {
        @apply ml-0 mt-0 w-[40px] h-[40px] text-center text-[32px] outline-none bg-gray-300 border-2 border-black;
    }
}

